/******************************************************************************
 * WATS1010: Introduction to Web Development
 * Embedded Media Assignment
 *
 * Site Styles
 *****************************************************************************/
html {
  padding: 0;
}  
body {
  background: skyblue;
  margin: 0;
}
h1 {
  background: green;
  display: none;
}
h2 {
  background: red;
}
header {
  min-height: 400px;
  background-image: url(../img/monkaa_title.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
nav ul li { 
  display: inline; 
  border-style: solid; 
  background-color: lightblue; 
} 
nav ul li:hover { 
  background-color: yellow; 
}
#social {
  position: fixed;
  top: 50px;
  right: 0;
  width: 65px;
  transition: 2s width;
}
#social:hover {
  width: 200px;
}
#social ul { 
 	list-style-type: none;
  padding: 0;
 }
#social li {
  margin: 0;
  padding: 0;
}
.logo {
  height: 100px;
  width: 100px;
}
footer {
  background: pink;
}
